<script src="/components/jquery/jquery.min.js"></script>
<script src="/components/uikit-2.26.4/js/uikit.min.js"></script>
<script src="/components/uikit-2.26.4/js/components/tooltip.min.js"></script>
<script src="/components/uikit-2.26.4/js/components/lightbox.min.js"></script>
<script src="/components/owl-carousel/owl.carousel.min.js"></script>
<script src="/components/mixitup/jquery.mixitup.js"></script>
<script src="/components/jquery-custom-scrollbar-0.5.5/jquery.custom-scrollbar.min.js"></script>
<script src="/components/dataTable/jquery.dataTables.min.js"></script>
<script src="/components/jquery.maskedinput.min.js"></script>
<script src="/components/responsive-table/responsive-tables.js"></script>
<script src="/components/nouislider/nouislider.min.js"></script>
<script src="/js/main.js"></script>
