<div class="uk-container uk-container-center main-brands__cont">
    <ul class="main-brands" id="b-slider">
        <li class="main-brands__item">
            <a href="/brands.html"><img src="/images/temp/brand-1.jpg" alt=""></a>
        </li>
        <li class="main-brands__item">
            <a href="/brands.html"><img src="/images/temp/brand-2.jpg" alt=""></a>
        </li>
        <li class="main-brands__item">
            <a href="/brands.html"><img src="/images/temp/brand-3.jpg" alt=""></a>
        </li>
        <li class="main-brands__item">
            <a href="/brands.html"><img src="/images/temp/brand-4.jpg" alt=""></a>
        </li>
        <li class="main-brands__item">
            <a href="/brands.html"><img src="/images/temp/brand-1.jpg" alt=""></a>
        </li>
        <li class="main-brands__item">
            <a href="/brands.html"><img src="/images/temp/brand-2.jpg" alt=""></a>
        </li>
        <li class="main-brands__item">
            <a href="/brands.html"><img src="/images/temp/brand-3.jpg" alt=""></a>
        </li>
        <li class="main-brands__item">
            <a href="/brands.html"><img src="/images/temp/brand-1.jpg" alt=""></a>
        </li>
        <li class="main-brands__item">
            <a href="/brands.html"><img src="/images/temp/brand-2.jpg" alt=""></a>
        </li>
        <li class="main-brands__item">
            <a href="/brands.html"><img src="/images/temp/brand-3.jpg" alt=""></a>
        </li>

    </ul>



</div>