<div class="breadcrumbs no-select">
    <a href="#" class="breadcrumbs__item breadcrumbs__item--first breadcrumbs__item--1">Главная</a>
    <a href="#" class="breadcrumbs__item breadcrumbs__item--2">Каталог</a>
    <a href="#" class="breadcrumbs__item breadcrumbs__item--3">Унитазы</a>
    <span class="breadcrumbs__item breadcrumbs__item--last breadcrumbs__item--4">Карточка товара</span>
</div>