<div class="shadow-line"></div>
<div class="cm-catalog-nav">
    <div class="cm-slider">
        <ul class="cm-slider__ul js-cm-slider" id="catalog-top-slider">
                <li class="cm-slider__item">
                <div class="cm-slider__item-img_bord"><img class="cm-slider__item-img" src="/images/temp/cat-item-1.png" alt=""></div>
                    <div class="cm-slider__item-name">
                        Мебель в ванную
                    </div>
                </li>
                <li class="cm-slider__item">
                    <div class="cm-slider__item-img_bord"><img class="cm-slider__item-img" src="/images/temp/cat-item-2.png" alt=""></div>
                    <div class="cm-slider__item-name">
                        Бытовая техника
                    </div>
                </li>
                <li class="cm-slider__item">
                    <div class="cm-slider__item-img_bord"><img class="cm-slider__item-img" src="/images/temp/cat-item-3.png" alt=""></div>
                    <div class="cm-slider__item-name">
                        Мебель в ванную
                    </div>
                </li>
                <li class="cm-slider__item">
                    <div class="cm-slider__item-img_bord"><img class="cm-slider__item-img" src="/images/temp/cat-item-4.png" alt=""></div>
                    <div class="cm-slider__item-name">
                        Очень длинное название
                    </div>
                </li>
                <li class="cm-slider__item">
                    <div class="cm-slider__item-img_bord"><img class="cm-slider__item-img" src="/images/temp/cat-item-5.png" alt=""></div>
                    <div class="cm-slider__item-name">
                        Бытовая техника
                    </div>
                </li>
                <li class="cm-slider__item">
                    <div class="cm-slider__item-img_bord"><img class="cm-slider__item-img" src="/images/temp/cat-item-6.png" alt=""></div>
                    <div class="cm-slider__item-name">
                        Мебель в ванную
                    </div>
                </li>
                <li class="cm-slider__item">
                    <div class="cm-slider__item-img_bord"><img class="cm-slider__item-img" src="/images/temp/cat-item-7.png" alt=""></div>
                    <div class="cm-slider__item-name">
                        Бытовая техника
                    </div>
                </li>
                <li class="cm-slider__item">
                    <div class="cm-slider__item-img_bord"><img class="cm-slider__item-img" src="/images/temp/cat-item-8.png" alt=""></div>
                    <div class="cm-slider__item-name">
                        Очень длинное название
                    </div>
                </li>
                <li class="cm-slider__item">
                    <div class="cm-slider__item-img_bord"><img class="cm-slider__item-img" src="/images/temp/cat-item-9.png" alt=""></div>
                    <div class="cm-slider__item-name">
                        Бытовая техника
                    </div>
                </li>
                <li class="cm-slider__item">
                    <div class="cm-slider__item-img_bord"><img class="cm-slider__item-img" src="/images/temp/cat-item-10.png" alt=""></div>
                    <div class="cm-slider__item-name">
                        Мебель в ванную
                    </div>
                </li>
                <li class="cm-slider__item">
                    <div class="cm-slider__item-img_bord"><img class="cm-slider__item-img" src="/images/temp/cat-item-8.png" alt=""></div>
                    <div class="cm-slider__item-name">
                        Очень длинное название
                    </div>
                </li>
                <li class="cm-slider__item">
                    <div class="cm-slider__item-img_bord"><img class="cm-slider__item-img" src="/images/temp/cat-item-9.png" alt=""></div>
                    <div class="cm-slider__item-name">
                        Бытовая техника
                    </div>
                </li>
                <li class="cm-slider__item">
                    <div class="cm-slider__item-img_bord"><img class="cm-slider__item-img" src="/images/temp/cat-item-10.png" alt=""></div>
                    <div class="cm-slider__item-name">
                        Мебель в ванную
                    </div>
                </li>
                <li class="cm-slider__item">
                    <div class="cm-slider__item-img_bord"><img class="cm-slider__item-img" src="/images/temp/cat-item-8.png" alt=""></div>
                    <div class="cm-slider__item-name">
                        Очень длинное название
                    </div>
                </li>
                <li class="cm-slider__item">
                    <div class="cm-slider__item-img_bord"><img class="cm-slider__item-img" src="/images/temp/cat-item-9.png" alt=""></div>
                    <div class="cm-slider__item-name">
                        Бытовая техника
                    </div>
                </li>
                <li class="cm-slider__item">
                    <div class="cm-slider__item-img_bord"><img class="cm-slider__item-img" src="/images/temp/cat-item-4.png" alt=""></div>
                    <div class="cm-slider__item-name">
                        Очень длинное название
                    </div>
                </li>
                <li class="cm-slider__item">
                    <div class="cm-slider__item-img_bord"><img class="cm-slider__item-img" src="/images/temp/cat-item-5.png" alt=""></div>
                    <div class="cm-slider__item-name">
                        Бытовая техника
                    </div>
                </li>
                <li class="cm-slider__item">
                    <div class="cm-slider__item-img_bord"><img class="cm-slider__item-img" src="/images/temp/cat-item-6.png" alt=""></div>
                    <div class="cm-slider__item-name">
                        Мебель в ванную
                    </div>
                </li>
        </ul>
    </div>
    <div class="cm-slider__sub-menu uk-container-full uk-container-center">
        <div class="uk-grid uk-grid-small cm-slider__group">
            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
                <a href="/catalog.html" class="cm-slider__sub-menu-item cm-slider__sub-menu-item--parent">1. Санфаянс</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы (Компакты)</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы угловые</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы подвесные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы с функцией биде</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Биде напольные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Биде подвесные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Раковины Для ванной</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Пьедесталы</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Писсуары</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Чаши, бачки, крышки</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item cm-slider__sub-menu-item--parent">Инсталляция+унитаз</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item cm-slider__sub-menu-item--parent">Инсталяции</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Для унитаза</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Для биде</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Для раковины</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Для писсуара</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Кнопки Для инсталляций</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Коплектующие Для инсталляций</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Инсталляция угловая</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item cm-slider__sub-menu-item--parent">Кухонные мойки</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Мойки</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Аксессуры Для моек</a>
            </div>
            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
                <a href="/catalog.html" class="cm-slider__sub-menu-item cm-slider__sub-menu-item--parent">Сантехарматура</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Инструменты Для монтажа</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Герметики, прокладки</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Газоанализаторы</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Группы безопасности</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Группы быстрого монтажа</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Предохранительные клапаны</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Коллекторы</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Манометры</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Обратные клапаны</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Редукторы давления</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Краны шаровые</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Краны газовые</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Краны Для бытовой техники</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Счетчики воды</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Счетчики газа</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Теплоноситель Для напольных котлов</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Теплоноситель Для настенных котлов</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Фитинги резьбовые латуные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Воздухоотводчики</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Гидрострелки</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Гибкая подводка</a>
            </div>
            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
                <a href="/catalog.html" class="cm-slider__sub-menu-item cm-slider__sub-menu-item--parent">Санфаянс</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы (Компакты)</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы угловые</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы подвесные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы с функцией биде</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Биде напольные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Биде подвесные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Раковины Для ванной</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Пьедесталы</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Писсуары</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Чаши, бачки, крышки</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item cm-slider__sub-menu-item--parent">Инсталляция+унитаз</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item cm-slider__sub-menu-item--parent">Инсталяции</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Для унитаза</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Для биде</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Для раковины</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Для писсуара</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Кнопки Для инсталляций</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Коплектующие Для инсталляций</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Инсталляция угловая</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item cm-slider__sub-menu-item--parent">Кухонные мойки</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Мойки</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Аксессуры Для моек</a>
            </div>
            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 reclame"><p>Реклама</p></div>
            <!-- <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
                <a href="/catalog.html" class="cm-slider__sub-menu-item cm-slider__sub-menu-item--parent">Сантехарматура</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Инструменты Для монтажа</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Герметики, прокладки</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Газоанализаторы</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Группы безопасности</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Группы быстрого монтажа</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Предохранительные клапаны</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Коллекторы</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Манометры</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Обратные клапаны</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Редукторы давления</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Краны шаровые</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Краны газовые</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Краны Для бытовой техники</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Счетчики воды</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Счетчики газа</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Теплоноситель Для напольных котлов</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Теплоноситель Для настенных котлов</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Фитинги резьбовые латуные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Воздухоотводчики</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Гидрострелки</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Гибкая подводка</a>
            </div> -->
        </div>
        <div class="uk-grid uk-grid-small cm-slider__group">
            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
                <a href="/catalog.html" class="cm-slider__sub-menu-item cm-slider__sub-menu-item--parent">2. Санфаянс</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы (Компакты)</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы угловые</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы подвесные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы с функцией биде</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Биде напольные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Биде подвесные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Раковины Для ванной</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Пьедесталы</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Писсуары</a>
            </div>
            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
                <a href="/catalog.html" class="cm-slider__sub-menu-item cm-slider__sub-menu-item--parent">Сантехарматура</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Инструменты Для монтажа</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Краны Для бытовой техники</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Счетчики воды</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Счетчики газа</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Теплоноситель Для напольных котлов</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Теплоноситель Для настенных котлов</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Фитинги резьбовые латуные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Воздухоотводчики</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Гидрострелки</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Гибкая подводка</a>
            </div>
            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
                <a href="/catalog.html" class="cm-slider__sub-menu-item cm-slider__sub-menu-item--parent">Санфаянс</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы (Компакты)</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы угловые</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы подвесные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы с функцией биде</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Для раковины</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Для писсуара</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Кнопки Для инсталляций</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Коплектующие Для инсталляций</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Инсталляция угловая</a>
            </div>

            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 reclame"><p>Реклама</p></div>
            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
                <a href="/catalog.html" class="cm-slider__sub-menu-item cm-slider__sub-menu-item--parent">Сантехарматура</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Инструменты Для монтажа</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Герметики, прокладки</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Газоанализаторы</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Группы безопасности</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Теплоноситель Для настенных котлов</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Фитинги резьбовые латуные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Воздухоотводчики</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Гидрострелки</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Гибкая подводка</a>
            </div>
        </div>
        <div class="uk-grid uk-grid-small cm-slider__group">
            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
                <a href="/catalog.html" class="cm-slider__sub-menu-item cm-slider__sub-menu-item--parent">3. Санфаянс</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы (Компакты)</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы угловые</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы подвесные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы с функцией биде</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Биде напольные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Биде подвесные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Раковины Для ванной</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Пьедесталы</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Писсуары</a>
            </div>
            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 reclame"><p>Реклама</p></div>
        </div>
        <div class="uk-grid uk-grid-small cm-slider__group">
            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
                <a href="/catalog.html" class="cm-slider__sub-menu-item cm-slider__sub-menu-item--parent">4. Санфаянс</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы (Компакты)</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы угловые</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы подвесные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы с функцией биде</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Биде напольные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Биде подвесные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Раковины Для ванной</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Пьедесталы</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Писсуары</a>
            </div>
            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 reclame"><p>Реклама</p></div>
        </div>
        <div class="uk-grid uk-grid-small cm-slider__group">
            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
                <a href="/catalog.html" class="cm-slider__sub-menu-item cm-slider__sub-menu-item--parent">5. Санфаянс</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы (Компакты)</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы угловые</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы подвесные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы с функцией биде</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Биде напольные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Биде подвесные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Раковины Для ванной</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Пьедесталы</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Писсуары</a>
            </div>
            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 reclame"><p>Реклама</p></div>
        </div>
        <div class="uk-grid uk-grid-small cm-slider__group">
            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
                <a href="/catalog.html" class="cm-slider__sub-menu-item cm-slider__sub-menu-item--parent">6. Санфаянс</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы (Компакты)</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы угловые</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы подвесные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Унитазы с функцией биде</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Биде напольные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Биде подвесные</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Раковины Для ванной</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Пьедесталы</a>
                <a href="/catalog.html" class="cm-slider__sub-menu-item">Писсуары</a>
            </div>
            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 reclame"><p>Реклама</p></div>
        </div>
    </div>
</div>
<div class="shadow-line second"></div>
