<footer class="footer">
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-width-medium-5-10 footer__grid-cell">
                <div class="footer__text">
                    <p class="footer__title">информация:</p>
                    Указанные на сайте цены не являются публичной офертой (ст.435 ГК РФ).<br>
                    Используемые на сайте изображения товаров могут включать дополнительное оборудование и компоненты, не входящие в стандартную комплектацию товара.<br>
                    © 2016 ESMAG — интернет-магазин сантехники в Екатеринбургe<br>
                    Все цены указаны в рублях (PУБ.)<br>
                </div>
                <img class="footer__logo" src="/images/logo_small.png" alt="">
            </div>

            <div class="uk-width-1-1 uk-width-medium-3-10 footer__grid-cell">
                <div class="footer__links-cont">
                    <p class="footer__title">меню:</p>
                    <a href="#" class="footer__link link--gray link--td-inverse">Партнерам</a><br>
                    <a href="#" class="footer__link link--gray link--td-inverse">Письмо директору</a><br>
                    <a href="#" class="footer__link link--gray link--td-inverse">Корзина</a>
                </div>
                <div class="footer__contacts">
                    <p class="footer__title">контакты:</p>
                    <p>+7 (343) 389 98 98</p>
                    <a href="#" class="footer__email">info@esmag.ru</a>
                </div>
            </div>

            <div class="uk-width-1-1 uk-width-medium-2-10 footer__grid-cell">
                <img class="footer__stat" src="/images/temp/stat.png" alt="">
            </div>
         </div>
    </div>
</footer>
