<head>
    <meta charset="utf-8">
    <title>Esmag</title>
    <meta name="description" content="esmag">
    <meta name="author" content="Elgrow">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,400italic,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/components/uikit-2.26.4/css/uikit.min.css">
    <link rel="stylesheet" href="/components/uikit-2.26.4/css/components/form-advanced.css">
    <link rel="stylesheet" href="/components/uikit-2.26.4/css/components/tooltip.css">
    <link rel="stylesheet" href="/components/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/components/jquery-custom-scrollbar-0.5.5/jquery.custom-scrollbar.css">
    <link rel="stylesheet" href="/components/responsive-table/responsive-tables.css">
    <link rel="stylesheet" href="/components/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
