<header class="header">
    <div class="header__yellow-line"></div>
    <div class="uk-container-full uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-width-medium-2-10 uk-text-center-small">
                <a href="/"><img src="/images/logo.png" alt="Esmag" class="header__logo"></a>
                <div class="header__city">
                    <a href="#modal-city" data-uk-modal="" class="header__city-link">Екатеринбург</a>
                </div>
            </div>
            <div class="uk-width-1-1 uk-width-medium-6-10 header__nav-cont" id="header-nav-cont">

                <ul class="header__nav">
                    <li class="header__nav-item"><a href="/discounts.html" class="header__nav-link is-active">Акции</a></li>
                    <li class="header__nav-item"><a href="/brands.html" class="header__nav-link">Бренды</a></li>
                    <li class="header__nav-item"><a href="/deliv.html" class="header__nav-link">Доставка</a></li>
                    <li class="header__nav-item"><a href="/about.html" class="header__nav-link">О нас</a></li>
                    <li class="header__nav-item"><a href="/vac.html" class="header__nav-link">Вакансии</a></li>
                    <li class="header__nav-item"><a href="#modal-contacts" data-uk-modal class="header__nav-link">Контакты</a></li>
                    <li class="header__nav-item"><a href="#modal-message" data-uk-modal class="header__nav-link">Письмо директору</a></li>
                </ul>

                <div class="header__infograf">
                    <div class="info1 info"><p><b>116 314</b> - товаров в наличии !</p></div>
                    <div class="info2 info"><p>На любой этаж <b>бесплатный подъем </b>!!!!</p></div>
                    <div class="info3 info"><p>Скидка за<br><b>самовывоз 2%</b></p></div>
                    <div class="info4 info"><p><b>Гарантия</b> на всю сантехнику !</p></div>
                </div>

                <div class="header__search">
                    <form action="/" method="get">
                        <input type="text" name="search"  class="header__search-input" placeholder="Поиск по каталогу">
                        <button type="submit" class="header__search-submit uk-button btn btn--red btn--rounded" id="search-submit">Искать</button>
                    </form>
                </div>
            </div>
            <div class="uk-width-1-1 uk-width-medium-2-10 uk-text-right uk-text-center-small">
                <div class="header__phone">+7 (343) <b>389 98 98</b></div>

                <div class="basket">
                    <div class="product-number">10</div>
                    <p onclick="location.href = '/cart.html'">Корзина<div class="blue-arrow"></div></p>
                    <p class="summ">На сумму: <span class="summ-value">3400 P</span></p>


                <div class="product-list">
                    <div class="blue-line">Ваш заказ:<div class="blue-arrow2"></div></div>
                    <div class="scrollbar">
                        <div class="product-list_item">
                            <a href="#" class="product-list_name">Радиатор биметаллический Revolution Bimetall 500 Royal Thermo</a>
                            <div class="product-list_data">
                            <div class="product-list_price">209 P</div>
                            <div class="product-list_numbers" value='10'>X<input type="text" name="product-list_numbers"><div class="up-btn"></div><div class="down-btn"></div>
                            </div>
                        <div class="product-list_summ"><b>209 P</b></div>
                        <div class="product-list_delete"></div></div>
                        </div>
                        <div class="product-list_item">
                            <a href="#" class=" product-list_name">Радиатор биметаллический Revolution Bimetall 500 Royal Thermo</a>
                            <div class="product-list_data">
                            <div class="product-list_price">209 P</div>
                            <div class="product-list_numbers" value='10'>X<input type="text" name="product-list_numbers"><div class="up-btn"></div><div class="down-btn"></div>
                            </div>
                        <div class="product-list_summ"><b>209 P</b></div>
                        <div class="product-list_delete"></div></div>
                        </div>
                        <div class="product-list_item">
                            <a href="#" class=" product-list_name">Радиатор биметаллический Revolution Bimetall 500 Royal Thermo</a>
                            <div class="product-list_data">
                            <div class="product-list_price">209 P</div>
                            <div class="product-list_numbers" value='10'>X<input type="text" name="product-list_numbers"><div class="up-btn"></div><div class="down-btn"></div>
                            </div>
                        <div class="product-list_summ"><b>209 P</b></div>
                        <div class="product-list_delete"></div></div>
                        </div>
                        <div class="product-list_item">
                            <a href="#" class="product-list_name">Радиатор биметаллический Revolution Bimetall 500 Royal Thermo</a>
                            <div class="product-list_data">
                            <div class="product-list_price">209 P</div>
                            <div class="product-list_numbers" value='10'>X<input type="text" name="product-list_numbers"><div class="up-btn"></div><div class="down-btn"></div>
                            </div>
                        <div class="product-list_summ"><b>209 P</b></div>
                        <div class="product-list_delete"></div></div>
                        </div>
                    </div>
                    <div class="bottom-line"><div class="product-list_botsumm">итого: 3400 Р</div><div class="product-list_cancel"><a>Сбросить</a></div><div class="product-list_submit btn--red">Оформить</div></div>
            </div>
            </div>

            <div class="uk-width-1-10 uk-visible-small uk-text-center header__nav-cell">
                <span class="header__navbar-toggle uk-visible-small js-navbar-toggle"></span>
            </div>
        </div>
    </div>
    </div>
</header>