<div class="uk-container uk-container-center">
    <div class="uk-grid popular">
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8">
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('images/item1.png');"></div>
                </div>
                <div class="popular__item-name">Смеситель</div>
            </a>
            <a href="#" class="popular__item-list">Для кухни</a>
            <a href="#" class="popular__item-list">Для ванны</a>
            <a href="#" class="popular__item-list">Для раковины (умывальника)</a>
            <a href="#" class="popular__item-list">Для биде</a>
            <a href="#" class="popular__item-list">Для душевых</a>
            <a href="#" class="popular__item-list">С мгновенным нагревом</a>
            <a href="#" class="popular__item-list">Встраиваемые</a>
            <a href="#" class="popular__item-list">На борт ванны</a>
            <a href="#" class="popular__item-list">Напольные</a>
            <a href="#" class="popular__item-list">Комплекты смесителей</a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8">
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('images/item2.png');"></div>
                </div>
                <div class="popular__item-name">санфаянс</div>
            </a>
            <a href="#" class="popular__item-list">Унитазы (Компакты)</a>
            <a href="#" class="popular__item-list">Унитазы угловые</a>
            <a href="#" class="popular__item-list">Унитазы подвесные</a>
            <a href="#" class="popular__item-list">Унитазы с функцией биде</a>
            <a href="#" class="popular__item-list">Биде напольные</a>
            <a href="#" class="popular__item-list">Биде подвесные</a>
            <a href="#" class="popular__item-list">Раковины для ванной</a>
            <a href="#" class="popular__item-list">Пьедесталы</a>
            <a href="#" class="popular__item-list">Чаши, бачки, крышки</a>
            <a href="#" class="popular__item-list">Писсуары</a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8">
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('images/item3.png');"></div>
                </div>
                <div class="popular__item-name">ванны</div>
            </a>
            <a href="#" class="popular__item-list">Акриловые</a>
            <a href="#" class="popular__item-list">Чугунные</a>
            <a href="#" class="popular__item-list">Стальные</a>
            <a href="#" class="popular__item-list">Прямоугольные</a>
            <a href="#" class="popular__item-list">Угловые</a>
            <a href="#" class="popular__item-list">Ассиметричные</a>
            <a href="#" class="popular__item-list">Круглые</a>
            <a href="#" class="popular__item-list">Овальные</a>
            <a href="#" class="popular__item-list">Нестандартные</a>
            <a href="#" class="popular__item-list">Шторки для ванн</a>
            <a href="#" class="popular__item-list">Аксессуары для ванн</a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8">
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('images/item4.png');"></div>
                </div>
                <div class="popular__item-name">кабинки</div>
            </a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8">
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('images/item5.png');"></div>
                </div>
                <div class="popular__item-name">инсталляции</div>
            </a>
            <a href="#" class="popular__item-list">Инсталляция+унитаз</a>
            <a href="#" class="popular__item-list">Для унитаза</a>
            <a href="#" class="popular__item-list">Для биде</a>
            <a href="#" class="popular__item-list">Для раковины</a>
            <a href="#" class="popular__item-list">Для писсуара</a>
            <a href="#" class="popular__item-list">Кнопки для инсталляций</a>
            <a href="#" class="popular__item-list">Комплектующие для инсталляций</a>
            <a href="#" class="popular__item-list">Инсталляция угловая</a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8">
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('images/item1.png');"></div>
                </div>
                <div class="popular__item-name">насосы</div>
            </a>
            <a href="#" class="popular__item-list">Циркуляционные насосы</a>
            <a href="#" class="popular__item-list">Насосные станции</a>
            <a href="#" class="popular__item-list">Насосы для санузлов</a>
            <a href="#" class="popular__item-list">Фекальные насосы</a>
            <a href="#" class="popular__item-list">Колодезные насосы</a>
            <a href="#" class="popular__item-list">Поверхностные насосы</a>
            <a href="#" class="popular__item-list">Скважинные насосы</a>
            <a href="#" class="popular__item-list">Дренажные насосы</a>
            <a href="#" class="popular__item-list">Вибрационные насосы</a>
            <a href="#" class="popular__item-list">Насосы повышающие давление</a>
            <a href="#" class="popular__item-list">Принадлежности для насосов</a>
            <a href="#" class="popular__item-list">Обвязка скважин</a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8">
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('images/item1.png');"></div>
                </div>
                <div class="popular__item-name">смесители</div>
            </a>
            <a href="#" class="popular__item-list">Для кухни</a>
            <a href="#" class="popular__item-list">Для ванны</a>
            <a href="#" class="popular__item-list">Для раковины (умывальника)</a>
            <a href="#" class="popular__item-list">Для биде</a>
            <a href="#" class="popular__item-list">Для душевых</a>
            <a href="#" class="popular__item-list">С мгновенным нагревом</a>
            <a href="#" class="popular__item-list">Встраиваемые</a>
            <a href="#" class="popular__item-list">На борт ванны</a>
            <a href="#" class="popular__item-list">Напольные</a>
            <a href="#" class="popular__item-list">Комплекты смесителей</a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8">
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('images/item2.png');"></div>
                </div>
                <div class="popular__item-name">санфаянс</div>
            </a>
            <a href="#" class="popular__item-list">Унитазы (Компакты)</a>
            <a href="#" class="popular__item-list">Унитазы угловые</a>
            <a href="#" class="popular__item-list">Унитазы подвесные</a>
            <a href="#" class="popular__item-list">Унитазы с функцией биде</a>
            <a href="#" class="popular__item-list">Биде напольные</a>
            <a href="#" class="popular__item-list">Биде подвесные</a>
            <a href="#" class="popular__item-list">Раковины для ванной</a>
            <a href="#" class="popular__item-list">Пьедесталы</a>
            <a href="#" class="popular__item-list">Чаши, бачки, крышки</a>
            <a href="#" class="popular__item-list">Писсуары</a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8">
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('images/item3.png');"></div>
                </div>
                <div class="popular__item-name">ванны</div>
            </a>
            <a href="#" class="popular__item-list">Акриловые</a>
            <a href="#" class="popular__item-list">Чугунные</a>
            <a href="#" class="popular__item-list">Стальные</a>
            <a href="#" class="popular__item-list">Прямоугольные</a>
            <a href="#" class="popular__item-list">Угловые</a>
            <a href="#" class="popular__item-list">Ассиметричные</a>
            <a href="#" class="popular__item-list">Круглые</a>
            <a href="#" class="popular__item-list">Овальные</a>
            <a href="#" class="popular__item-list">Нестандартные</a>
            <a href="#" class="popular__item-list">Шторки для ванн</a>
            <a href="#" class="popular__item-list">Аксессуары для ванн</a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8">
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('images/item4.png');"></div>
                </div>
                <div class="popular__item-name">кабинки</div>
            </a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8">
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('images/item5.png');"></div>
                </div>
                <div class="popular__item-name">инсталляции</div>
            </a>
            <a href="#" class="popular__item-list">Инсталляция+унитаз</a>
            <a href="#" class="popular__item-list">Для унитаза</a>
            <a href="#" class="popular__item-list">Для биде</a>
            <a href="#" class="popular__item-list">Для раковины</a>
            <a href="#" class="popular__item-list">Для писсуара</a>
            <a href="#" class="popular__item-list">Кнопки для инсталляций</a>
            <a href="#" class="popular__item-list">Комплектующие для инсталляций</a>
            <a href="#" class="popular__item-list">Инсталляция угловая</a>
        </div>
    </div>
</div>