<div class="uk-container uk-container-center m-slider">
    <div class="uk-grid uk-grid-collapse">
        <div class="uk-width-1-1 uk-width-large-8-10">
            <div class="m-slider__cont" id="m-slider">
                <a href="/" class="m-slider__item">
                    <img src="/images/temp/slider-1.png" alt="">
                </a>
                <div class="m-slider__item">
                    <img src="/images/temp/slider-2.png" alt="">
                </div>
                <div class="m-slider__item">
                    <img src="/images/temp/slider-3.png" alt="">
                </div>
                <div class="m-slider__item">
                    <img src="/images/temp/slider-2.png" alt="">
                </div>
                <div class="m-slider__item">
                    <img src="/images/temp/slider-3.png" alt="">
                </div>
                <div class="m-slider__item">
                    <img src="/images/temp/slider-1.png" alt="">
                </div>
                <div class="m-slider__item">
                    <img src="/images/temp/slider-2.png" alt="">
                </div>
                <div class="m-slider__item">
                    <img src="/images/temp/slider-3.png" alt="">
                </div>
                <div class="m-slider__item">
                    <img src="/images/temp/slider-2.png" alt="">
                </div>
                <div class="m-slider__item">
                    <img src="/images/temp/slider-3.png" alt="">
                </div>
            </div>

        </div>

        <div class="uk-visible-large uk-width-large-2-10 m-slider__control-cell">
            <div class="m-slider__control-cont" id="main-slider-scroll-pane">
                <div class="m-slider__control-item is-active">Инсталляция+унитаз!</div>
                <div class="m-slider__control-item">Готовые комплекты от Vitra</div>
                <div class="m-slider__control-item">Унитаз-компакт за 2490!</div>
                <div class="m-slider__control-item">Длинное название инсталляция плюс унитаз!</div>
                <div class="m-slider__control-item">Унитаз-компакт за 2490!</div>

                <div class="m-slider__control-item">Инсталляция+унитаз!</div>
                <div class="m-slider__control-item">Готовые комплекты от Vitra</div>
                <div class="m-slider__control-item">Унитаз-компакт за 2490!</div>
                <div class="m-slider__control-item">Длинное название инсталляция плюс унитаз!</div>
                <div class="m-slider__control-item">Унитаз-компакт за 2490!</div>
                </div>
        </div>
    </div>
</div>


