<div class="uk-container uk-container-center buy-before buy-before--view-history">
    <h2>История просмотра:</h2>
    <div class="vh-slider" id="vh-slider">
        <div class="buy-before__cont">
            <div class= "buy-before__item buy-before__item--mh">
                <div class="uk-grid">
                    <div class="uk-width-1-3">
                        <img src="/images/temp/good-1.png" alt="" class="product__image">
                    </div>
                    <div class="uk-width-2-3">
                        <div class="product__price product__price--left">
                            2840 <span class="rub product__price-rub"></span>
                        </div>
                        <div class="product__to-cart">
                            <a class="uk-button btn btn--red btn--rounded btn--mw135" data-uk-modal="" href="#modal-added-to-cart"><i class="uk-icon-shopping-cart"></i>В корзину</a>
                        </div>
                    </div>
                </div>
                <a class="product" href="#">
                    <div class="product__name">
                        Радиатор биметаллический Revolution Bimetall 500 Royal Thermo
                    </div>
                </a>
            </div>
        </div>
        <div class="buy-before__cont">
            <div class= "buy-before__item buy-before__item--mh">
                <div class="uk-grid">
                    <div class="uk-width-1-3">
                        <img src="/images/temp/good-1.png" alt="" class="product__image">
                    </div>
                    <div class="uk-width-2-3">
                        <div class="product__price product__price--left">
                            2840 <span class="rub product__price-rub"></span>
                        </div>
                        <div class="product__to-cart">
                            <a class="uk-button btn btn--red btn--rounded btn--mw135" data-uk-modal="" href="#modal-added-to-cart"><i class="uk-icon-shopping-cart"></i>В корзину</a>
                        </div>
                    </div>
                </div>

                <a class="product" href="#">
                    <div class="product__name">
                        Радиатор биметаллический
                    </div>
                </a>
            </div>

        </div>
        <div class="buy-before__cont">
            <div class= "buy-before__item buy-before__item--mh">
                <div class="uk-grid">
                    <div class="uk-width-1-3">
                        <img src="/images/temp/good-1.png" alt="" class="product__image">
                    </div>
                    <div class="uk-width-2-3">
                        <div class="product__price product__price--left">
                            2840 <span class="rub product__price-rub"></span>
                        </div>
                        <div class="product__to-cart">
                            <a class="uk-button btn btn--red btn--rounded btn--mw135" data-uk-modal="" href="#modal-added-to-cart"><i class="uk-icon-shopping-cart"></i>В корзину</a>
                        </div>
                    </div>
                </div>
                <a class="product" href="#">
                    <div class="product__name">
                        Радиатор биметаллический Revolution Bimetall 500 Royal Thermo
                    </div>
                </a>
            </div>

        </div>        <div class="buy-before__cont">
            <div class= "buy-before__item buy-before__item--mh">
                <div class="uk-grid">
                    <div class="uk-width-1-3">
                        <img src="/images/temp/good-1.png" alt="" class="product__image">
                    </div>
                    <div class="uk-width-2-3">
                        <div class="product__price product__price--left">
                            2840 <span class="rub product__price-rub"></span>
                        </div>
                        <div class="product__to-cart">
                            <a class="uk-button btn btn--red btn--rounded btn--mw135" data-uk-modal="" href="#modal-added-to-cart"><i class="uk-icon-shopping-cart"></i>В корзину</a>
                        </div>
                    </div>
                </div>
                <a class="product" href="#">
                    <div class="product__name">
                        Радиатор биметаллический
                    </div>
                </a>
            </div>

        </div>
        <div class="buy-before__cont">
            <div class= "buy-before__item buy-before__item--mh">
                <div class="uk-grid">
                    <div class="uk-width-1-3">
                        <img src="/images/temp/good-1.png" alt="" class="product__image">
                    </div>
                    <div class="uk-width-2-3">
                        <div class="product__price product__price--left">
                            2840 <span class="rub product__price-rub"></span>
                        </div>
                        <div class="product__to-cart">
                            <a class="uk-button btn btn--red btn--rounded btn--mw135" data-uk-modal="" href="#modal-added-to-cart"><i class="uk-icon-shopping-cart"></i>В корзину</a>
                        </div>
                    </div>
                </div>
                <a class="product" href="#">
                    <div class="product__name">
                        Радиатор биметаллический Revolution Bimetall 500 Royal Thermo
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>