.cm-slider {

  position: relative;
  background: #fff;
  width: 80%;
  left: 10%;

  &__ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding: 8px 5px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    width: 93px;
    height: 150px;

    &:hover .cm-slider__item-img_bord {
      background: @background-yellow;
      // background: rgba(254,240,53,0.5);
    }

    &-img_bord {
    width: 80px;
    height: 80px;
    border: 1px solid #e3e3e3;
    }
  }
  //
  &__item-name {
    font-size: .8rem;
    line-height: 0.9rem;
    color: @text-black;
    text-decoration: none;
    margin-top: 5px;
  }

  &__item-img {
    margin-top: 7px;
    max-width: 60px;
    max-height: 60px;
  }

  &__link {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  &__nav {
    position: absolute;
    text-decoration: none;
    top: 35px;
    left: 0;
    color: @text-black;
    font-size: 2.5rem;
    display: none;
    opacity: .5;
    font-style: normal;

    &:hover {
      text-decoration: none;
      color: @text-black;
      opacity: .75;
    }

    &--prev {
      margin-left: 7px;

      &:before {
        content: "\f104";
        font-family: FontAwesome;
      }
    }
    &--next {
      right: 0;
      margin-right: 7px;
      left: auto;
      &:before {
        content: "\f105";
        font-family: FontAwesome;
      }
    }
  }

  /* Sub menu */
  &__sub-menu {
    position: relative;
    height: 0;
    overflow: hidden;
    background: #fff;
    width: 80%;
    margin-left: 10%;
    top: -55px;

    padding-top: 0;
    padding-bottom: 0;

    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);

    transition: all .2s;
    -webkit-transition: all .2s;


    &.is-open {
      padding-bottom: 35px;
      padding-top: 15px;
      height: auto;
    }
  }
  &__sub-menu-item {
    display: block;
    color: @text-black;
    font-size: 0.85rem;
    &:hover {
      color: @text-light-blue;
      text-decoration: none;
    }

    &--parent {
      font-size: 1rem;
      font-weight: 500;
      margin: 15px 0;
    }
  }

  &__group {
    display: none;
    margin-top: 0 !important;
  }

}

// .cm-slider .owl-item {
//   position: relative;
//   z-index: 5;
// }

.is-open-bord .cm-slider__item-img_bord {
  border-bottom: 2px solid #fff;
  height: 85px;
}

.cm-slider:hover .cm-slider__nav {
  display: block;
}

.cm-catalog-nav .owl-item {
  width: 85px !important;
}

.reclame {
  height: 396px;
  background: #e0e0e0;
  margin-top: 18px;
}


/* Phones */
.uk-touch {
  .cm-slider .cm-slider__nav {
    display: block;
  }
}






