.header {
  position: relative;
  background: transparent;
  padding-top: 0;
  padding-bottom: 15px;

  &__yellow-line {
    width: 100%;
    height: 38px;
    background: #fef035;
  }

  &__logo {
    width: 125px;

  }

  &__city {
    float: left;
    margin-top: 19px;
    display: inline-block;
  }

  .uk-width-1-1 {
    padding-left: 15px;
    padding-top: 9px;
  }

  .uk-width-1-1 a {
    display: block;
  }

  .uk-container-full {
    max-width: 1250px;
    margin: 0 auto;
  }

  &__city-link {
    font-family: 'Ubuntu Medium', sans-serif;
    font-size: 16px;
    border-bottom: 1px dotted #008fd5;
    color: #008fd5;
    &:hover {
      text-decoration: none;
      color: @text-dark-blue;
      border-bottom: 1px dotted @text-dark-blue;
    }
  }

  &__phone {
    margin-top: -36px;
    float: right;

  }

  &__nav {
    display: table;
    margin-top: -36px;
    padding: 0;
    //table-layout: fixed;
    width: 100%;
    list-style: none;
    font-size: 13px;
    &-item {
      display: table-cell;
      white-space: nowrap;
      text-align: center;
      padding-right: 10px;
    }
    &-link {
      color: #008fd5;
      font-family: 'Ubuntu Bold', sans-serif;
      font-size: 13px;
      font-weight: 700;
      &:hover, &.is-active {
        color: #ea212d;
        text-decoration: none;
      }
    }
  }

  &__infograf .info {
      display: inline-block;
      height: 43px;
      width: 19%;
      vertical-align: middle;
      margin: 15px auto;
      padding-left: 35px;

      p {
        position: relative;
        top: -1px;
        line-height: 1.1;
        font-family: 'Ubuntu Light', sans-serif;
        font-size: 13px;
        }
 }

  &__infograf {
    .info1 {
      background: url(../images/info1.png) no-repeat;
    }
    .info2 {
      background: url(../images/info2.png) no-repeat;
    }
    .info3 {
      background: url(../images/info3.png) no-repeat;
      color: #008fd5;
    }
    .info4 {
      background: url(../images/info4.png) no-repeat;
    }
  }

  &__search {
    width: 85%;
    position: relative;

    &-input {
      width: 100%;
      box-sizing: border-box;
      padding: 8px 10px 8px;
      border-radius: 3px;
      border: 1px solid #e0e0e0;
    }
    &-submit {
      min-width: 80px;
      position: absolute;
      right: -90px;
      top: 0;
    }
    // &-submit .uk-button{
    //     color: #000;
    //     background: #fef035 !important;
    //   }
  }

  &__navbar-toggle {
    cursor: pointer;
    color: @text-black;
    font-size: 1.3rem;
    &:hover {
      color: @text-dark-blue;
    }
    &:after {
      content: "\f0c9";
      font-family: FontAwesome;
      vertical-align: middle;
    }
  }
}

@media (max-width: 1342px) {
  .header__infograf .info {
    width: 16%;
  }
}

@media (max-width: 850px) {
  .header__nav-item {
    font-size: .75rem;
  }

  .header__phone {
    margin-top: 10px;
    margin-left: -10px;
  }
}

@media (max-width: 767px) {
  .header {
    &__phone {
      margin-top: -29px;
      margin-left: 0;
    }

    &__nav {
      margin-top: 0;
    }

    &__nav-cell {
      position: absolute;
      top: 9px;
      right: 20px;
    }

    &__nav-cont {
      position: absolute;
      z-index: 50;
      top: 42px;
      padding-top: 0;
      left: 0;
      width: 100%;
      background: @background-yellow;
      visibility: hidden;
      padding-bottom: 15px;
      padding-right: 15px;
      text-align: right;

      -webkit-transition: padding .2s;

      &.is-active {
        visibility: visible;
        display: block;
        padding-top: 15px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
      }
    }

    &__infograf .info {
        text-align: left;
        padding-left: 33px;
    }

    &__nav-item {
      display: block;
      text-align: right;
      line-height: 25px;
      font-size: 1rem;
    }
    &__search {
      width: 90%;
      display: inline-block;
    }
    &__search-submit {
      display: none;
    }
  }
}

@media (max-width: 500px) {

    .header__infograf {
        display: none;
    }
}