.fixed__item--compare {
  position: fixed;
  right: 0;
  top: 46%;
  height: 146px;
  width: 30px;
  background: #008fd5;
  border-radius: 5px 0 0 5px;
  writing-mode: 'tb-lr';
  z-index: 7;
}

.fixed a {
  color: #fff;
 }

 .fixed a:hover {
    background: #007CB9;
    text-decoration: none;
 }

.fixed__title {
  position: relative;
  top: 46px;
  right: 36px;
  width: 120px;
  height: 40px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
 }

.basket {
  margin-top: 20px;
  height: 80px;
  border-left: 1px solid #eee;
  background: 13px 25px url(../images/basket.png) no-repeat;
  cursor: pointer;
  position: relative;
}

.basket:hover .product-list {
  width: 500px;
  height: 453px;
  opacity: 1;
  top: 80px;
}

.basket:hover .product-list .bottom-line {
  display: block;
}

.basket:hover .product-list .blue-arrow2 {
  display: block;
}

.product-number {
  width: 22px;
  height: 12px;
  background: #f38230;
  color: #fff;
  border-radius: 7px;
  text-align: center;
  font-size: 10px;
  padding-bottom: 6px;
  position: relative;
  top: 16px;
  left: 35px;
}

.basket p {
  color: #008fd5;
  font-size: 16px;
  font-family: 'Ubuntu Regular', sans-serif;
  float: left;
  padding-left: 63px;
  margin: 0;
}

.basket p.summ {
  font-size: 13px;
  color: #1d1d1d;
  display: block;
}

.basket p.summ span {
  font-family: 'Ubuntu Bold', sans-serif;
  font-weight: bold;
}

.basket .blue-arrow {
  position: relative;
  width: 7px;
  height: 4px;
  background: url(../images/blue-arrow.png);
  right: -131px;
  top: 10px;
}

.product-list {
  width: 0;
  height: 0;
  background: #fff;
  position: absolute;
  top: 106px;
  right: 40px;
  z-index: 100;
  opacity: 0;
  transition: opacity .6s, top .6s;
}


.product-list .blue-line {
  width: 100%;
  height: 28px;
  text-align: center;
  padding-top: 10px;
  background: #008fd5;
  color: #fff;
  font-family: 'Ubuntu Medium', sans-serif;
}

.product-list .blue-arrow2 {
  width: 15px;
  height: 7px;
  background: url(../images/blue-arrow2.png);
  position: relative;
  top: -37px;
  left: 445px;
  display: none;
}

.product-list_item {
  width: 83%;
  height: 74px;
  margin-left: 34px;
  background: url(../images/radiator.png) no-repeat;
  margin: 20px 0 17px 34px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
}

.product-list_item:nth-child(5) {
  border-bottom: none;
}

.product-list_item .product-list_name {
  margin-left: 84px;
  text-align: left;
  width: 65%;
  font-family: 'Ubuntu Light', sans-serif;
  font-size: 13px;
  line-height: 1.3;
  text-decoration: underline;
}

.product-list_data {
  margin-left: 84px;
  margin-top: 18px;
  text-align: left;
}

.product-list_price {
  margin-right: 10%;
}

.product-list_numbers {
  width: 85px;
}

.product-list_numbers input {
  margin-left: 10px;
  height: 20px;
  width: 70%;
}

.up-btn, .down-btn {
  width: 15px;
  height: 10px;
  position: relative;
  cursor: pointer;
}

.up-btn {
  right: -62px;
  bottom: 24px;
  background: 6px 4px url(../images/up-btn.png) no-repeat;
}

.down-btn {
  right: -62px;
  bottom: 22px;
  background: 6px 3px url(../images/down-btn.png) no-repeat;
}

.product-list_summ {
  margin-left: 12%;
}

.product-list_delete {
  width: 11px;
  height: 10px;
  background: url(../images/cancel_cross.png) no-repeat;
  float: right;
  margin-top: 6px;
  cursor: pointer;
}

.product-list .bottom-line {
  width: 100%;
  height: 62px;
  background: #fbfbfb;
  position: absolute;
  bottom: 0;
  display: none;
}

.product-list_botsumm {
  font-family: 'Ubuntu Medium', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  margin-left: 41px;
  margin-top: 22px;
}

.product-list_cancel a {
  margin-right: 15px;
  margin-top: 15px;
  font-family: 'Ubuntu Light', sans-serif;
  font-size: 13px;
  color: #8e8e8e;
  text-decoration: underline;
}

.product-list_submit {
  margin-right: 45px;
  margin-top: 15px;
  width: 112px;
  height: 27px;
  text-align: center;
  padding-top: 5px;
  border-radius: 3px;
}

.product-list_price, .product-list_numbers, .product-list_summ, .product-list_delete, .product-list_botsumm, .product-list_cancel, .product-list_submit {
  display: inline-block;
}

.scrollbar {
  overflow: auto;
  max-height: 342px;
  width: 98%;
  &::-webkit-scrollbar {
        width:9px;
    }
    &::-webkit-scrollbar-track {
        margin-top: 15px;
        margin-bottom: 10px;
        background: #f7f7f7;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background: #dad9db;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: #a8a8a8;
    }
}

@media (max-width: 1014px) {
  .basket .summ {
    padding-left: 50px;
  }
}

@media (max-width: 925px) {
  .basket {
    border-left: none;
    margin-left: -10px
  }
 }

@media (max-width: 828px) {
  .basket .summ {
    width: 70px;
  }
}

@media (max-width: 767px) {
  .basket {
    width: 130px;
  }

  .basket:hover .product-list {
    width: 350px;
    right: -220px;
  }

  .basket:hover .product-list .blue-arrow2 {
      display: block;
      left: 30px;
  }

  .product-list_item {
    margin-left: 0;
    width: 320px;
  }

  .product-list_price {
    margin-right: 5px;
  }

  .product-list_data {
    margin-left: 65px;
    width: 230px;
  }
}

