.popular {

  &__item {
    display: block;
    text-align: left;
    font-family: 'Ubuntu Regular', sans-serif;
    padding-bottom: 9px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;

    &-list {
      display: block;
      color: @text-light-blue;
      text-decoration: underline;
      font-family: 'Ubuntu Light', sans-serif;
      font-size: 13px;
      font-weight: 600;
    }
    &:hover {
      .popular__item-img-cont {
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
      }
      color: @text-red;
    }
    &-name {

    }
  }

  &__item-img-cont {
    border: 1px solid #efefef;
    padding: 5px;
    margin-bottom: 15px;
    height: 135px;
    width: 135px;
  }

  &__item-img {
    height: 135px;
    width: 135px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }


}