.last-news {
  padding: 0 0 20px;
  margin: 0 0 20px !important;
  border: 1px solid @border-gray;
  border-radius: 3px;
  overflow: hidden;

  &__title {
    background: @background-light-blue;
    padding: 10px 0;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
  }

  &__item {
    margin: 20px 0;
    padding: 0 25px;
  }

  &__item-date {
    margin: 7px 0;
    font-size: .75rem;
    color: @text-gray;
  }
  &__item-name {
    display: block;
    color: @text-light-blue;
    font-size: .85rem;
    text-decoration: underline;
    margin-bottom: 5px;
    &:hover {
      color: @text-blue;
      text-decoration: underline;
    }
  }
  &__item-anons {
    font-size: .85rem;

  }

  &__more-cont {
    text-align: center;
  }
}