.buy-before {

  &__cont {
    padding: 4px;

  }
  &__item {
    display: block;
    height: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px 15px 15px;
    box-sizing: border-box;
    &:hover {
      box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
      text-decoration: none;
    }
    &--mh {
      min-height: 230px;
    }
  }



  &--view-history {
    margin-top: 35px;
    margin-bottom: 35px;
  }

}

.buy-before .uk-width-medium-1-3{
  width: 25%;
}

.vh-slider {
  padding: 0 15px;
  box-sizing: border-box;

}

.cart-befor .buy-before__cont {
    padding: 0;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 16%;
    height: 275px;
}

.cart-befor .buy-before__item {
  padding: 10px;
}

.cart-befor .buy-before__cont:last-child {
  margin-right: 0
}

.cart-befor .uk-width-1-3, .cart-befor .uk-width-2-3 {
  width: 100%;
  text-align: center;
  padding-left: 0;
}

.cart-befor .uk-width-2-3 {
  text-align: left;
}

.cart-befor .uk-width-1-3 {
  margin-bottom: 10px;
}

.cart-befor .uk-width-1-3 img {
  max-width: 70px;
}

.cart-befor .uk-grid {
  margin-left: 0;
}

.cart-befor .product__price {
  position: absolute;
  bottom: 55px;
}

.cart-befor .product__name {
  font-size: 13px;
}

.cart-befor .btn--mw135 {
  display: block;
  position: absolute;
  bottom: 15px;
  min-width: 109px;
}

.cart-befor a.product {
  width: 100%;
  padding-left: 0;
}


@media (max-width: 1420px) {
  .cart-befor .buy-before__cont {
    margin-right: 7px;
  }
}

@media (max-width: 941px) {
  .uk-grid-collapse .buy-before__cont {
    width: 50%;
  }
}

@media (max-width: 593px) {
  .uk-grid-collapse .buy-before__cont {
    width: 100%;
  }
}