.footer {
  background: #f8f9f9;
  font-size: 0.85rem;
  box-sizing: border-box;
  padding: 0 0 25px;

  &__grid-cell {
    margin-top: 20px;
  }

  &__link {
    margin-right: 5px;
  }

  &__text {
    color: @text-gray;
    font-size: 0.75rem;
    line-height: .95rem;
  }
}

.white-line {
  height: 29px;
  width: 100%;
  background: #fff;
  font-family: 'Ubuntu Light', sans-serif;
  font-size: 12px;
  color: #1d1d1d;
  text-align: center;
  padding-top: 14px;
}

.footer__logo {
  margin-top: 12px;
}

.footer__title {
  text-transform: uppercase;
  font-family: 'Ubuntu Medium', sans-serif;
  font-size: 13px;
  color: #1d1d1d;
  margin-bottom: 5px !important;
}

.footer__links-cont, .footer__contacts {
  display: inline-block;
  vertical-align: top;
}

.footer__contacts p {
  margin: 0;
}

.footer__contacts {
  margin-left: 20%;
}

.uk-width-medium-5-10 {
  width: 40%;
}

.uk-width-medium-3-10 {
  width: 40%;
  padding-left: 50px;
}

.uk-width-medium-2-10 .footer__stat {
  float: right;
}

@media (max-width: 975px) {
  .footer__contacts {
  margin-left: 5%;
  }

  .uk-width-medium-3-10 {
  width: 40%;
  padding-left: 35px;
}
}

@media (max-width: 766px) {
  .uk-width-medium-5-10 {
  width: 50%;
  }

  .uk-width-medium-3-10 {
  width: 50%;
  }


  .footer__links-cont, .footer__contacts {
  margin-left: 0;
  display: block;
  }

  .footer__contacts {
    margin-top: 15px;
  }

  .footer .uk-width-medium-2-10 img {
    float: none;
    margin-left: 25%;
  }
}