.contacts {
  > .uk-modal-dialog {
    padding: 20px 50px;
  }

  &__left-column {
    padding-bottom: 35px;
  }

  .contacts__h2 {
    color: @text-black;
    margin-bottom: 20px;
  }
  .contacts__h3 {
    color: @text-black;
    margin: 25px 0 7px;
    &--medium {
      font-weight: 500;
      font-size: .9rem;
    }
  }

  &__info {
    margin-bottom: 15px;
    font-size: .85rem;
    line-height: 1.5rem;
  }
  &__info-icon {
    color: @text-light-blue;
    margin-right: 7px;
  }


}