.page-wrap {
  min-height: 100%;
  padding-bottom: 35px;
  margin-bottom: -190px;
  &::after {
    content: "";
    display: block;
    height: 190px;
  }
}

.uk-container-full {
  padding-left: 20px;
  padding-right: 20px;
}

.shadow-line {
  width: 100%;
  height: 7px;
  background: url(../images/shadow-line.png) repeat-x;
  margin-bottom: 15px;
  margin-top: 15px;
}

.second {
  margin-bottom: 0;
}

.cart-befor-bg {
  min-height: 415px;
  width: 100%;
  background: #fcfcfc;
  margin-top: 55px;
}

.cart-befor {
  padding: 0;
}

.cart-befor h3, .cart h3 {
  margin-top: 35px;
  font-size: 22px;
}

.cart h3:first-child {
  margin-top: 0;
}

.cart img, .cart__item-art {
  display: inline-block;
}

.cart__second-title {
  padding-left: 21%;
  text-align: left !important;
  margin-left: 71px;
  width: 55% !important;
}

.cart__last-title {
  padding-left: 50px;
}

.cart__right-fl {
  width: 10% !important;
  padding-left: 20px;
}

.cart__left-fl {
  width: 55% !important;
  text-align: left;
  padding-left: 21%;

}

.right-fl-remove {
  width: 9% !important;
}

.cart__last {
  padding-left: 20px !important;
}

.cart__last-title {
  padding-left: 5% !important;
}

.big-reclame {
  width: 11%;
  height: 350px;
  background: #ccc;
  position: absolute;
  display: none;
}

.big-reclame-right-top, .big-reclame-right-bot {
  right: 15px;
}

.big-reclame-right-top, .big-reclame-left-top {
  top: 640px;
}

.big-reclame-left-top, .big-reclame-left-bot {
  left: 15px;
}

.big-reclame-right-bot, .big-reclame-left-bot {
  top: 1000px;
}

@media (min-width: 1900px) {
  .big-reclame {
    width: 13%;
  }
}

@media (min-width: 1800px) {
  .big-reclame {
    display: block;
  }
}

@media (min-width: 960px) {
  .uk-container-full {
    padding-left: 50px;
    padding-right: 50px;
  }
}

footer.footer {
  min-height: 190px;
}


@media (min-width: 1420px) {
  .uk-container {
    max-width: 1400px;
  }

}

.uk-width-xlarge-1-8 {
  width: 16%;
  margin-top: 27px;
}

@media all and (max-width: 1420px) {

  .cart__left-fl {
    padding-left: 17%;
    width: 50% !important;
  }

  .cart__second-title {
    padding-left: 17%;
    width: 50% !important;
  }
}

@media all and (max-width: 1237px) {

  .cart__left-fl {
    padding-left: 10%;
  }

  .cart__second-title {
    padding-left: 10%;
  }
}

@media all and (max-width: 900px) {

  .cart__item-price {
    margin-left: 0 !important;
  }

  .cart__last-title {
    padding-left: 3% !important;
  }
}

@media all and (max-width: 768px) {
  .cart__cell-mt {
    padding-top: 0 !important;
  }

  .cart__item-img {
    float: left;
  }

  .cart__cell-mt--count {
    width: 20% !important;
  }

  .cart__left-fl, .cart__second-title {
    padding-left: 5%;
  }

}

@media all and (max-width: 975px) {
  .uk-width-xlarge-1-8 {
    width: 20%;
  }
}

@media all and (max-width: 799px) {
  .uk-width-xlarge-1-8 {
    width: 30%;
  }
}

@media all and (max-width: 592px) {
  .uk-width-xlarge-1-8 {
    width: 50%;
  }
  .cart__item-price {
    position: relative;
    left: -120px;
    top: -50px;
  }
}

@media all and (max-width: 540px) {
  .uk-width-xlarge-1-8 {
    width: 50%;
  }
}

.uk-grid-xsmall {
  margin-left: -7px;
}
.uk-grid-xsmall>* {
  padding-left: 7px;
}

@media all and (max-width: 457px) {
  .cart__item-price {
    left: 60px;
    top: -100px;
  }

  .cart__cell-mt--count {
    width: 40% !important;
  }

  .cart__left-fl {
    width: 60% !important;
  }
}