.modal {
  &__close {
    margin-bottom: 7px;
    &--nomargin {
      margin-bottom: 0;
    }
  }

  .uk-modal-dialog {
    padding: 20px 30px;
  }


  &__text {
    margin: 25px 0 35px;
    font-size: .95rem;
    p {
      margin: 10px 0;
    }
  }

  h2 {
    font-weight: 300;
  }




  &--yellow {
    .uk-modal-dialog {
      background-image: url("/images/modal-bg.jpg");
      background-position: top;
      background-repeat: repeat-x;
    }

  }

  &__logo {
    img {
      width: 130px;
    }
  }




  &__city-group {
    margin: 15px 0;
  }
  &__city-name {
    font-size: 1.15rem;
    margin-bottom: 10px;
  }
  &__city-link {
    border-bottom: 1px dotted @text-blue;
    line-height: 1.7rem;
    &:hover {
      text-decoration: none;
      color: @text-red;
      border-bottom: 1px dotted @text-red;
    }
  }
  &__city-deliv {
    font-size: 0.8rem;
    font-weight: 500;
    color: @text-dark-blue;
  }

}



.uk-close {
  opacity: .55;
  &:hover {
    opacity: .85;
  }
  &:after {
    display: block;
    font-size: 0.9rem;
    content: "✖";
  }

  &--red {
    opacity: 1;
    background: #f40403;
    padding: 1px;
    font-size: 1rem;
    border-radius: 2px;
    color: #fff;
    &:hover {
      background: @background-dark-red;
      color: #eee;
      opacity: 1;
    }
  }

}
.uk-modal-dialog>.uk-close:first-child {
  margin: 0px -10px 0 0;
}



/* В корзину */
.matc {
  &__to-cart {
    margin-right: 15px;
  }
  &__continue {
    color: @text-gray;
    border-bottom: 1px dotted @text-gray;
    font-size: .85rem;
  }


  &__info {
    margin-top: 25px;
    p {
      margin: 3px 0;

    }
  }

  &__info-text {
    padding-top: 15px;
  }

  &__controls {
    margin-top: 25px;
  }


}



/* Lightbox controls */
.uk-slidenav-position .uk-slidenav-next {
  right: 20px;
}

.uk-slidenav-position .uk-slidenav {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 1;
  margin-top: -30px;
  font-size: 4rem;
  text-decoration: none !important;
  color: @text-light-blue;
  opacity: .55;
  &:hover {
  opacity: 1;
}
}
.uk-slidenav-position .uk-slidenav-previous {
  left: 20px;
}
.uk-slidenav-previous:before {
  content: "\f104";
  font-family: FontAwesome;

}
.uk-slidenav-next:before {
  content: "\f105";
  font-family: FontAwesome;
}
.uk-slidenav-position:hover .uk-slidenav {
  display: block;
}

.uk-modal-dialog .buy-before__cont {
  width: 24%;
  margin-right: 5px;
  height: 300px;
  background: #fff;
}

.uk-modal-dialog .buy-before__cont:last-child {
  margin-right: 0;
}

.uk-modal-dialog .windclose {
  text-align: center;
  margin-top: 5px;
}

.uk-modal-dialog .grey-block {
  background: #f4f4f4;
  position: absolute;
  left: 0;
  padding: 0 30px 30px 30px;
  margin-top: 20px;
}

#modal-added-to-cart h2 {
  text-align: left;
}

@media (max-width: 1000px) {

  .uk-modal-dialog .buy-before__cont {
  width: 48%;
  }
}

@media (max-width: 400px) {

  .uk-modal-dialog .buy-before__cont {
  width: 100%;
  }
}