.catalog {
  margin-top: 35px;
  margin-bottom: 35px;


  &__group-item {
    display: block;
    height: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid @border-gray;
    text-align: center;
    font-size: .8rem;
    color: @text-black;
    text-decoration: underline;
    line-height: 1rem;

    &:hover {
      text-decoration: none;
      color: @text-light-blue;
    }
  }

  &__group-image {
    margin-bottom: 10px;
  }

  &__group-grid {

    margin-bottom: 15px;
    > div {
      padding-bottom: 7px;
    }
  }

}

.row {
  max-width: 62.5rem;
  margin-right: auto;
  margin-left: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }
  .row .row {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem; }
    @media print, screen and (min-width: 40em) {
      .row .row {
        margin-right: -0.9375rem;
        margin-left: -0.9375rem; } }
    @media print, screen and (min-width: 64em) {
      .row .row {
        margin-right: -0.9375rem;
        margin-left: -0.9375rem; } }
    .row .row.collapse {
      margin-right: 0;
      margin-left: 0; }
  .row.expanded {
    max-width: none; }
  .row:not(.expanded) .row {
    max-width: none; }
  .row.collapse > .column, .row.collapse > .columns {
    padding-right: 0;
    padding-left: 0; }
  .row.is-collapse-child,
  .row.collapse > .column > .row,
  .row.collapse > .columns > .row {
    margin-right: 0;
    margin-left: 0; }

.columns {
  // -ms-flex: 1 1 0px;
  //     flex: 1 1 0px;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  min-width: initial;
  border: 1px solid #d9e7ed;
  box-shadow: 1px 1px 3px 3px rgba(217,231,237,0.5);
  border-radius: 3px;
  text-align: center;
  margin: 5px;
}

.column.row.row, .row.row.columns {
  float: none;
  display: block; }

.row .column.row.row, .row .row.row.columns {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0; }

  @media print, screen and (min-width: 40em) {
    .row .medium-4 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  }