.search {
  margin-top: 35px;
  margin-bottom: 35px;


  &__no-results {
    margin: 35px 0;
    color: @text-gray;
  }

  &__item {
    border-bottom: 1px solid @border-gray;
    padding: 30px 0 30px;


  }


  &__item-name {
    color: @text-light-blue;
    &:hover {
      color: @text-red;
    }
  }

  &__item-about {
    margin: 10px 0 25px;
    font-size: .95rem;
  }

  &__to-compare {
    margin-top: 10px;
    font-size: 0.9rem;

    input {
      margin-right: 7px;
      margin-top: -2px;
    }
  }

  &__flag {
    max-height: 15px;
    margin-right: 7px;
  }

  &__price {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #1d1d1d;
  }

  &__to-cart {
    margin: 15px 0 10px;
  }

  &__no-cart {
    font-size: 1.15rem;

    color: @text-gray;
    margin: 10px 0;
  }
  &__deliv-time {
    font-size: .8rem;
    color: @text-gray;
  }
}