.articles {
  margin-top: 35px;
  margin-bottom: 35px;


  &__title {
    font-size: 24px;
    line-height: 30px;
  }


  &__cont {
    border-radius: 4px;
    background: #f1faff;
    padding: 35px 25px;

  }

  &__header {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }

  &__last-header {
    margin-bottom: 10px;
  }
  &__last-art {
    background: #fff;
    padding: 15px 25px;
    border: 1px solid @border-gray;
    margin-bottom: 35px !important;

  }

  &__last-date {
    font-size: .75rem;
    color: @text-gray;
  }
  &__last-name {
    color: @text-light-blue;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: @text-red;
    }
  }
  &__last-views {
    margin-top: 5px;
    font-size: .85rem;
  }
  &__last-hr {
    margin: 15px 0;
    border-top: 1px solid @border-gray;
  }
  &__last-anons {
    font-size: .85rem;
    line-height: 1rem;
  }

  &__types {
    list-style: none;
    padding-left: 5px;
  }
  &__type {
    margin: 2px 0;
    &:before {
      content: "\f111";
      font-family: FontAwesome;
      color: @text-light-blue;
      font-size: 0.4rem;
      margin-right: 5px;
      vertical-align: bottom;
    }

  }
  &__type-link {
    color: @text-black;
    text-decoration: underline;
    font-size: .85rem;
    &:hover {
      color: @text-light-blue;
      text-decoration: underline;
    }
  }
}