.discounts {

  margin-top: 35px;
  margin-bottom: 35px;

  &__title {
    margin-left: 8px;
  }

  &__item-cont {
    display: block;
    padding: 6px 7px;

  }

  &__item {
    display: block;
    padding: 3px 4px;
    border: 1px solid #efefef;
    border-radius: 2px;
    &:hover {
      box-shadow: 2px 2px 5px rgba(0,0,0,0.1);

    }
  }

  &__image {
    min-width: 100%;
  }

}