.compare {
  margin-top: 35px;
  margin-bottom: 35px;


  &__title {
    display: inline-block;
  }

  &__title-grouup {
    color: @text-light-blue;
    h2 {
      margin-right: 10px;
    }
  }
  &__group-link {
    margin-left: 3px;
    font-size: 1.1rem;
    color: @text-light-blue;
    &:hover {
      color: @text-red;
    }
  }

  &__item-image {
    max-height: 150px;
    max-width: 200px;

  }


  &__control-group {
    font-size: 0;
    margin-top: 10px;
  }

  &__group-title {
    margin-top: 35px;
  }

  &__table {
    border-collapse: collapse;
    td {
      border: 1px solid @border-gray;
      padding: 15px 15px;
      text-align: center;
      font-size: .85rem;
      vertical-align: top;

    }
  }
  &__tr-similar {
    background: #f6fbfd;
  }

  &__td-char {

    font-weight: 500;
  }


  &__rub {
    font-size: .75rem;
  }

}


@media (max-width: 449px) {
  .compare__control-group {
    > div {
      font-size: .65rem;
    }
  }
}
