.cg {
  margin-top: 35px;
  margin-bottom: 35px;

  &__sort {
    border: 1px solid @border-gray;
    padding: 15px 20px 10px;
    font-size: .85rem;
    border-radius: 3px;
    > * {
      display: inline-block;
      margin-bottom: 5px;

    }
  }

  &__sort-count {
    margin: 0 9px;
  }

  &__good {
    margin-bottom: 5px;
    width: 100%;
    // height: 200px;
  }
  &__good-cont {
    display: block;
    border-bottom: 1px solid @border-gray;
    border-radius: 3px;
    padding: 15px 15px 25px;
    font-size: .8rem;
    color: @text-black;
    text-decoration: none;
    line-height: 1.1rem;
    margin: 5px 0;
    height: 100%;
    box-sizing: border-box;
    position: relative;

    &:hover {
      border: 1px solid #7ac4e9;
      color: @text-black;
      text-decoration: none;
    }
  }

  &__good-flag {
    margin-right: 5px;
  }
  &__good-tocompare-btn {
    display: block;
    text-align: left;
    margin-top: 10px;
    color: #1d1d1d;
  }
  &__good-tocompare {
    // position: relative;
    cursor: pointer;
    margin-right: 5px;
    // right: 0;
    // top: 0;
    color: @text-light-blue;
    &:hover {
      color: @text-dark-blue;
    }
    &.is-active {
      color: @text-red;
    }
    &:after {
      content: "+";
      color: inherit;
      margin-left: 2px;
      position: relative;
      top: -3px;
    }
  }
  &__good-art {
    position: relative;
    // border-bottom: 1px solid @border-gray;
    padding: 0 0 10px;
    font-size: .8rem;
    margin-top: 15px;
    width: 450px;
  }

  &__good-name {
    display: inline-block;
    color: @text-light-blue;
    margin: 10px 0;
    text-decoration: underline;
    &:hover {
      color: @text-blue;
    }
    min-height: 29px;
  }
  &__good-name img {
    margin-right: 10px;
    float: left;
  }
  &__good-image {
    max-height: 200px;
    margin-right: 25px;
    float: left;
  }
  &__right-price {
    // float: right;
    position: absolute;
    top: 15px;
    right: 5px;
  }
  &__price {
    text-align: right;
    font-size: 1.5rem;
    margin: 13px 0;
    .rub {
      font-size: 1.2rem;
    }
  }
  &__good-cart {
    // float: right;
  }
  &__old-price {
    font-size: 1.1rem;
    text-decoration: line-through;
    .rub {
      font-size: .85rem;
    }
  }
  &__good-about {
    // display: none;
    width: 85%;
  }

  &__cells .cg__good{
    width: 33.33%;
  }

  &__cells .cg__good-about {
    display: none;
  }

  &__cells .cg__right-price {
    top: 340px;
    right: 10px;
  }

  &__cells .cg__price {
    margin: 5px 0;
  }

  &__cells .cg__good-cont {
    border: 1px solid @border-gray;
    border-radius: 3px;
    min-height: 435px;
  }
}

.pages-line {
  margin-top: 38px;
}

.pages-line .page {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 25px;
  border: 1px solid #e0e0e0;
  margin-right: 4px;
  color: #1d1d1d;
  font-size: 13px;
  text-align: center;
  padding-top: 5px;
}


/* Like rows */

@media (max-width: 1420px) {
  .cg__right-price {
      top: 50px;
  }
}


@media (max-width: 1220px) {
  .cg__right-price {
      top: 10px;
  }
}

@media (min-width: 768px) {
  .cg__grid--rows {

    .cg__good-cont {
      position: relative;
      min-height: 250px;
    }

    > .uk-width-1-1 {
      width: 100% !important;
    }

    .cg__good-image {
      position: absolute;
      max-width: 100%;
      top: 50px;
      left: 7px;
    }

    .cg__good-name {
      font-size: 1.1rem;
      margin-left: 210px;
    }

    .cg__good-about {
      display: block;
      font-size: .85rem;
      margin-left: 210px;
    }
    .cg__price {
      margin-left: 210px;
    }
    .cg__good-cart {
      margin-left: 210px;
    }
  }
}

@media (max-width: 639px) {
  .cg__sort {
    padding: 10px 10px 5px
  }

  .cg__cells .cg__good{
    width: 50%;
  }
}

@media (max-width: 450px) {
  .cg__good-image {
    max-height: 100px;
  }
  .cg__right-price {
    right: 1px;
  }
  .cg__cells .cg__right-price {
    top: 10px;
    right: 2px;
  }

  .cg__cells .cg__good {
    width: 100%;
    min-height: 0;
  }

  .cg__cells .cg__good-cont {
    min-height: 0;
  }
  .pages-line .page {
    margin-right: 0;
  }
}

