.cgood {
  margin-top: 35px;
  margin-bottom: 35px;


  &__image-cont {
    position: relative;
    text-align: center;
    border: 1px solid @border-gray;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 25px;
    margin-bottom: 7px;
    img {
      max-height: 400px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      right: -6px;
      width: 130px;
      height: 130px;
      background-size: contain;
      background-position: right bottom;
      background-repeat: no-repeat;

    }

    &.mark-hit {
      &::after {
        background-image: url("/images/mark-hit.png");
      }
    }

  }



  &__image-list {
    font-size: 0;
  }
  &__image-list-item {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid @border-gray;

    margin: 3px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      border: 1px solid @border-blue;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }


  &__other-cont {
    border: 1px solid @border-gray;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 10px 0;
  }
  &__about-cont {
    border: 1px solid @border-gray;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 15px 25px;
    margin: 10px 0;
    margin-bottom: 15px !important;
    width: 158%;

    &.is-open {
      .js-good-about-more {
        display: none;
        &--hide {
          display: inline-block;
        }
      }
    }
  }


  &__about-more-cont {
    text-align: center;

    .js-good-about-more {
      margin-top: 7px;
      display: inline-block;
      &--hide {
        display: none;
      }
    }

  }
  &__about--hidden {
    display: none;
  }
  &__about-cont.is-open {
    .cgood__about--hidden {
      display: block;
    }
  }

  &__info-block {
    border: 1px solid @border-gray;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 25px;
    margin: 10px 0;
  }



  &__char {
    border: 1px solid @border-gray;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 15px;
    margin: 0 0 10px 12px;
    font-size: .85rem;
    height: 452px;
    width: 38%;

  }
  &__char-item {
    border-bottom: 1px solid @border-gray;
    padding: 6px 0;
    margin-top: 0 !important;
    &:nth-child(1) {
      border-top: 1px solid @border-gray;
    }
  }


  /* Buy cont */
  &__click-cont {
    border: 1px solid @border-gray;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 5px 0;
    padding: 5px 15px 10px;
    > a {
      margin: 3px 0;
    }
  }

  &__opt-cont {
    border: 1px solid @border-gray;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 5px 0;
    padding: 5px 5px 5px;
    font-size: 0;
  }
  &__opt {
    display: inline-block;
    width: 25%;
    text-align: center;
    margin: 10px 0;
  }

  &__buy-cont {
    border: 1px solid @background-yellow;
    background: @background-yellow;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 20px 15px 15px;
  }
  &__price {
    font-size: 2.2rem;
    line-height: 1.6rem;
    margin-bottom: 18px;
    .rub {
      font-size: 1.6rem;
    }
  }
  &__count {
    float: right;
    width: 65px;
  }
  &__good-cart {
    width: 100%;
  }
  &__price-text {
    font-size: .75rem;
    margin: 10px 0 5px;
    text-align: center;
  }
  &__nal {
    font-size: .95rem;
    text-align: center;
    i {
      color: #4f9708;
      margin-right: 5px;
    }
  }

  &__art {
    margin-top: 15px;
    float: right;
    font-size: .85rem;
  }

  &__brand {
    margin-top: 15px;
    img {
      max-height: 17px;
    }
  }
}

.itemcart-left {
  width: 60%;
}

.fixed-right {
  position: fixed;
  right: 10%;
  width: 347px;
  z-index: 7;
}

.cgood__other-cont {
  width: 158%;
}

.cgood__info-block {
  width: 94%;
}

.good-befor h3 {
  display: block;
  width: 100%;
  height: 30px;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  font-size: 16px;
  color: #fff;
  background: #26a7e5;
}

.good-befor .buy-before__cont {
  margin: 0;
  width: 25%;
  height: 220px;
}

.good-befor .buy-before__item {
  margin: 0;
  border: none;
  border-right: 1px solid #e0e0e0;
}

.good-befor .product__price {
  bottom: 20px;
}

.good-befor .btn--mw135 {
  right: 20px;
  min-width: 0;
}

.good-befor .btn i {
  margin: 0;
}

.good-befor .uk-width-1-3 img {
  max-width: 60px;
}

.cgood__other-cont-second {
  margin-top: 40px;
}

.good-befor-second .buy-before__cont {
  width: 50%;
  border-bottom: 1px solid #e0e0e0;
  height: 80px;
}

.good-befor-second .uk-width-1-3, .good-befor-second .uk-width-2-3 {
  text-align: left;
  display: inline-block;
}

.good-befor-second a.product {
  width: 50%;
}


.good-befor-second .product__name, .good-befor-second .product__price, .good-befor-second .btn--mw135 {
  display: inline-block;
}

.good-befor-second .product__name {
  position: relative;
  top: -70px;
  left: 70px
}

.good-befor-second .product__price {
  left: 280px;
}

/*Альтернативный вид карточки*/
.good-befor-alter {
  display: none;
}
/*У оригинального класс good-befor-origin*/

.shadow-line-good {
  margin-bottom: -12px;
}

.shadow-line-second-good {
  margin-top: 50px;
  margin-bottom: 30px;
}

@media (max-width: 639px) {
  .cgood__about-cont {
      padding: 15px 10px;
  }
  .cgood__other-cont {
    padding: 20px 10px;
  }
  .cgood__info-block {
    padding: 15px 10px;
  }
}

@media (max-width: 400px) {
  .cgood__image-cont::after {
    width: 75px;
    height: 75px;
    right: -4px;
    bottom: -4px;
  }
}

@media (min-width: 1420px) {
  .good-befor-second .product__price {
    left: 350px;
  }
}

@media (max-width: 1420px) and (min-width:1220px) {
  .cgood__click-cont .btn {
    font-size: 11px;
  }
}

@media (max-width: 1720px) {
  .fixed-right {
    right: 20px;
  }
}

@media (max-width: 1420px) {
  .cgood__about-cont {
    width: 168%;
  }
  .cgood__other-cont {
    width: 168%;
  }
  .fixed-right {
    width: 250px;
  }
  .cgood__opt {
    width: 50%;
    margin: 3px 0;
  }
  .cgood__opt-cont {
    padding: 0;
  }
  .cgood__info-block {
  width: 100%;
}
}

@media (max-width: 1220px) {
  .cgood__opt-cont {
    display: none;
  }
  .good-befor-second .product__price {
    left: 240px;
    font-size: 19px;
  }

}

@media (max-width: 1100px) {
  .fixed-right {
    top: 43px;
  }
  .cgood__click-cont {
    background: #fff;
  }
}

@media (max-width: 985px) {
  .good-befor-second .product__price {
    left: 0;
    right: 65px;
  }
  .good-befor-second .buy-before__cont {
    height: 120px;
  }
}

@media (max-width: 770px) {
  .good-befor-second .buy-before__cont {
    height: 160px;
  }
  .good-befor .buy-before__cont {
    width: 50%;
    border-bottom: 1px solid #e0e0e0;
  }
}

@media (max-width: 698px) {
  .cgood__char {
    width: 100%;
  }
}

@media (max-width: 475px) {
  .good-befor .buy-before__cont {
    width: 100%;
  }
}