.brands {
  margin-top: 35px;
  margin-bottom: 35px;

  &__item {
    display: block;
    height: 100%;
    margin-bottom: 4px;
    box-sizing: border-box;
    padding: 5px 5px 10px;
    border: 1px solid #efefef;
    border-radius: 2px;
    text-align: center;
    font-size: .85rem;
    line-height: .8rem;
    text-decoration: underline;
    color: @text-light-blue;
    &:hover {
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      color: @text-red;

      .brands__item-name {
      }
    }
  }
  &__item-cell {
    padding-bottom: 6px;
  }
  &__item-image {
    margin-bottom: 3px;
  }
  &__item-name {
  }




  &__chars {
    font-size: 0;
    margin-bottom: 15px;
  }
  &__char-item {
    display: inline-block;
    white-space: nowrap;
    margin-right: 2px;
    margin-bottom: 2px;
    border: 1px solid #efefef;
    border-radius: 2px;
    font-size: .8rem;
    padding: 2px 7px;
    cursor: pointer;
    &:hover, &.is-active {
      background: #f4f4f4;
    }
  }


}


#container .mix{
  display: none;
}
