.statics {
  margin-top: 35px;
  margin-bottom: 35px;

}
.statics-tabs {

  font-size: 0.9rem;

  &__content {
    border: 1px solid @border-gray;
    border-top: 0;
    margin-top: 0;
    margin-bottom: 25px !important;
  }
  &__item {
    box-sizing: border-box;
    padding: 20px 35px;
  }

}

@media (max-width: 639px) {
  .statics-tabs {
    &__item {
      box-sizing: border-box;
      padding: 15px 15px;
    }

  }
}
@media (max-width: 1219px) {
  .uk-tab {
    border-left: 1px solid @border-gray;
  }
}

.uk-tab.statics-tabs>li:nth-child(n+2)>a {
  margin-left: 0;
}
.uk-tab.statics-tabs>li:not(.uk-active)>a>span {
  border-bottom: 1px dotted @text-black;
}
.uk-tab.statics-tabs>li:not(.uk-active)>a:hover>span {
  border-bottom: 1px dotted @text-black;
}
.uk-tab.statics-tabs>li>a {
  border-right: 1px solid @border-gray;
  border-top: 1px solid @border-gray;
  border-bottom: 1px solid @border-gray;
  border-left: 0;
  padding: 12px 25px 12px 25px;
  background: #f1faff;
  color: @text-black;
}
.uk-tab.statics-tabs>li.uk-active>a {
  border-right: 1px solid @border-gray;
  border-top: 1px solid @border-gray;
  border-bottom: 1px solid #fff;
  border-left: 0;
  background: #fff;
  color: @text-black;
}
.uk-tab.statics-tabs li:first-child  {
  border-left: 1px solid @border-gray !important;
}

.uk-tab.statics-tabs>li.uk-open:not(.uk-active)>a, .uk-tab.statics-tabs>li:not(.uk-active)>a:focus, .uk-tab.statics-tabs>li:not(.uk-active)>a:hover {
  margin-bottom: 0px;
  padding-bottom: 12px;
  color: @text-red;
}

.text-content {

  font-size: .9rem;

  h1 {
    font-size: 24px;
    line-height: 30px;
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
  }

  ul {
    list-style: none;
    li {

      line-height: 1.3rem;
      margin: 5px 0;

      &:before {
        content: "\f111";
        font-family: FontAwesome;
        color: #2095ca;
        font-size: 7px;
        vertical-align: text-top;
        margin-right: 9px;

      }
    }
  }

  a {
    color: @text-light-blue;

    &:hover {
      color: @text-blue;
    }
  }
}



.deliv-title {
  margin-bottom: 30px;

}
