.product {
  display: block;
  &__date {
    font-size: .75rem;
    color: @text-gray;
    margin-bottom: 10px;
  }
  &__image {

  }
  &__name {
    font-size: .9rem;
    margin-bottom: 10px;
    color: @text-light-blue;
    text-decoration: underline;
  }
  &__price {
    margin-top: 20px;
    font-size: 1.5rem;
    color: @text-black;
    text-align: right;

    &--left {
      text-align: left;
    }
  }

  &__price-rub {
    font-size: 1.2rem;
  }

  &__to-cart {
    margin: 15px 0 !important;
    .btn {
      min-width: 115px;
      font-size: .85rem;
    }
  }
  &__info {
    font-size: .75rem;
    color: @text-gray;
  }

  &:hover {
    text-decoration: none;
    .product__name {
      color: @text-red;
    }
  }
}


